<header>
    <nav class="bg-gray-800 text-white w-full p-4">
      <div class="container mx-auto flex items-center justify-between">
        <div class="text-xl font-bold">
          <a href="#">Prueba</a>
        </div>
        <div class="md:flex space-x-4">
          <a routerLink="/" class="hover:text-yellow-400">Home</a>
          <a routerLink="/usuarios" class="hover:text-yellow-400">Usuarios</a>
          <a routerLink="/creditos" class="hover:text-yellow-400">Creditos</a>
          <a routerLink="/login" class="hover:text-yellow-400">Login</a>
          <a routerLink="/register-user" class="hover:text-yellow-400">Register</a>
        </div>
      </div>

    </nav>
  </header>
  