<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Enabled</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
          <td>
            <button class="bg-red-500 rounded-sm text-white font-semibold" (click)="delete(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  